<!-- <mat-tab-group>
    <mat-tab label="Firstfff"   routerLink="/ContactDetails"> Content 1 </mat-tab>
    <mat-tab label="Second"  routerLink="/SendingMassege"> Content 2 </mat-tab>
  
  </mat-tab-group>
  <nav md-tab-nav-bar>
    <a md-tab-link style="border-bottom-color: rgb(165, 165, 179)"
      
       routerLink="/ContactDetails"
     
      > ddddddd</a>
   
  
  </nav>
  <router-outlet></router-outlet>
 -->
 <nav mat-tab-nav-bar ngClass = "tabs">
  <a mat-tab-link routerLink="/ContactDetails" routerLinkActive="active-link">My Details</a>
  <a mat-tab-link routerLink="/SendingMassege" routerLinkActive="active-link">Sending Massege</a>

</nav>  
<div>	
 <router-outlet></router-outlet>	
</div> 